<html>
<head>
  <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
  <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
  <link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css">
  <script src="/static/js/jquery-3.2.1.slim.min.js"></script>
  <script>
    function followUp() {
      alert("Calling to schedule biopsy...");
    }
  </script>
</head>
<body>
  <div class="breadcrumbs">
    <a href="/patients">Patient List</a>
    ›
    <a href="/biopsy_status/{{ patient.id }}/">Biopsy Status</a>
    ›
    No Biopsy
  </div>
  <div id="content" class="colM">
    <div id="content-main">
      <form action="/no_biopsy/{{ pathology_id }}/" method="POST">
        {% csrf_token %}
        <h1>{{ patient.first_name }} {{ patient.last_name }}
        ({{ patient.mrn }})</h1>
        <fieldset class="module aligned">
          {% for field in form %}
            {{ field.label_tag }} {{ field }}
          {% endfor %}
        </fieldset>
        <input type="submit" value="Save" />
        <input type="button" value="Call to Schedule Biopsy" onClick="javascript:followUp()"/>
      </form>
    </div>
  </div>
</body>
