<html>
<head>
  <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
  <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
  <link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css">
</head>
<body>
  <div class="breadcrumbs">
    <a href="/patients">Patient List</a>
    ›
    Pathology
  </div>
  <div id="content" class="colM">
    <div id="content-main">
      <form action="/pathology/{{ patient.id }}/" method="POST">
        {% csrf_token %}

        <h1>Pathology<h1>
        <h2>Patient: {{ patient.first_name }} {{ patient.last_name }}
        ({{ patient.mrn }})</h2>

        <h3>Pathology</h3>
        {% include "canreg/radio_select_snippet.html" with form=pathology_form %}
        <h3>Biopsy</h3>
        {% include "canreg/radio_select_snippet.html" with form=biopsy_form %}
        <h3>Biopsy Site</h3>
        {% include "canreg/radio_select_snippet.html" with form=biopsy_site_form %}
        <h3>Receptor Status</h3>
        {% include "canreg/receptor_snippet.html" with formset=biopsy_receptor_status_formset %}
        <h3>Scheduled Biopsy</h3>
        {% include "canreg/radio_select_snippet.html" with form=scheduled_biopsy_form %}

        <input type="submit" value="Submit" />
      </form>
    </div>
  </div>
</body>
