<div>
  <fieldset class="module aligned">
    {% for field in form %}
      <div class="form-row">
        {% if field.label in "Biopsy status, Strength, Test name, Facility" %}
          {{ field.label_tag }}
          {% for subfield in field %}
            {{ subfield }}
          {% endfor %}
        {% elif field.label in "Lvi, Side, Location, Site" %}
          <label></label>
          {% for subfield in field %}
            {{ subfield }}
          {% endfor %}
        {% else %}
          {{ field.label_tag }} {{ field }}
        {% endif %}
      </div>
    {% endfor %}
  </fieldset>
</div>
